<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        {{ partial "head_project.html" . }}
    </head>
    <body>
        {{ partial "nav_project.html" . }}
        {{ partial "project_main.html" . }}

        {{ if .Params.testimonial }}
            {{ partial "testimonial.html" . }}
        {{ end }}

        <section>
            <div class="content-project">
                {{ .Content }}
            </div>
        </section>

        {{ if .Site.Params.projects.enable }}
            {{ partial "projects.html" . }}
        {{ end }}

        {{ if .Site.Params.footer.enable }}
            {{ partial "footer.html" . }}
        {{ end }}

        {{ partial "scripts.html" . }}
    </body>
</html>