<section data-scroll-index="4">
    <div class="products-page">
        <div class="header">
            <h1 class="title">{{ .context.Site.Params.products.Title }}</h1>
            <h2 class="subtitle">{{ .context.Site.Params.products.Subtitle }}</h2>
        </div>

        <div class="products">
            {{ range $index, $element := first .LIMIT .context.Site.Data.products }}
            <a href="{{ $element.url }}" target="_blank">
                <div class="product">
                    <img class="product-icon" src="{{ .context.Site.baseUrl }}/img/products/{{ $element.icon }}"></img>
                </div>
                <div class="product-title">{{ $element.title }}</div>
            </a>
            {{ end }}
        </div>

        {{ if and (.ON_INDEX) (gt (len .context.Site.Data.products) .LIMIT) }}
        <a href="{{ .URL }}products" class="read-more">View All</a>
        {{ end }}
    </div>
</section>
