<section data-scroll-index="4">
    <div class="publications-and-talks-page">
        <div class="header">
            <h1 class="title">{{ .context.Site.Params.publications_and_talks.Title }}</h1>
            <h2 class="subtitle">{{ .context.Site.Params.publications_and_talks.Subtitle }}</h2>
        </div>

        <div class="publications-and-talks">
            <ul>
            {{ range $index, $element := first .LIMIT .context.Site.Data.publications_and_talks }}
                {{ if eq $element.type "talk" }}
                    {{ partial "talk.html" (dict "context" . "element" $element)}}
                {{ else if eq $element.type "publication" }}
                    {{ partial "publication.html" (dict "context" . "element" $element)}}
                {{ else }}
                    {{ errorf "Unsupported talk or publication type %s" $element.type }}
                {{ end }}
            {{ end }}
            </ul>
        </div>

        {{ if and (.ON_INDEX) (gt (len .context.Site.Data.publications_and_talks) .LIMIT) }}
        <a href="{{ .URL }}publications-and-talks" class="read-more">View All</a>
        {{ end }}
    </div>
</section>
