<section data-scroll-index="3">
    <div class="skills">
        <div class="header">
            <h1 class="title">{{ .Site.Params.skills.Title }}</h1>
            <h2 class="subtitle">{{ .Site.Params.skills.Subtitle }}</h2>
        </div>
        <div class="skills-wrapper">
            {{ range $element := sort .Site.Data.skills "weight" }}
            <div class="skills-item">
                <h4>{{ $element.title }}</h4>
                <ul>
                    {{ range $item := $element.items }}
                    <li>{{ $item.name }}</li>
                    {{ end }}
                </ul>
            </div>
            {{ end }}
        </div>
    </div>
</section>
