<section data-scroll-index="4">
    <div class="timeline">
        <div class="header">
            <h1 class="title">{{ .context.Site.Params.timeline.Title }}</h1>
            <h2 class="subtitle">{{ .context.Site.Params.timeline.Subtitle }}</h2>
        </div>

        {{ range $element := first .LIMIT .context.Site.Data.timeline }}
        <div class="timeline-entry">
            <h4>{{ $element.date }}</h4>
        </div>
        {{ end }}

        {{ if .ON_INDEX }}
        <a href="{{ .URL }}" class="read-more">Full Timeline</a>
        {{ end }}
    </div>
</section>
