<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        {{ partial "head.html" . }}
    </head>
        <div>
            {{ if .Site.Params.nav.enable }}
            {{ partial "nav.html" . }}
            {{ end }}

            {{ partial "timeline.html" (dict "context" . "LIMIT" .site.Params.timeline.timeline_count "ON_INDEX" false)}}

            {{ if .Site.Params.footer.enable }}
            {{ partial "footer.html" . }}
            {{ end }}
        </div>
    </body>
</html>